<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SCliente</servlet-name>
        <servlet-class>servlets.SCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SFabricante</servlet-name>
        <servlet-class>servlets.SFabricante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SProducto</servlet-name>
        <servlet-class>servlets.SProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SVista</servlet-name>
        <servlet-class>servlets.SVista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SCliente</servlet-name>
        <url-pattern>/SCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SFabricante</servlet-name>
        <url-pattern>/SFabricante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SProducto</servlet-name>
        <url-pattern>/SProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SVista</servlet-name>
        <url-pattern>/SVista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
